.popup__job {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 48px;
  padding-bottom: 9px;
  padding-top: 8px;
  font-size: 14px;
  line-height: calc(17 / 14);
  outline-color: dodgerblue;
}

@media screen and (max-width: 768px) {
  .popup__job {
    font-size: 14px;
    line-height: calc(17 / 14);
    margin-bottom: 45px;
  }
}
