.popup__container_type_image {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 75vw;
  max-height: 75vh;
  width: max-content;
  height: max-content;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
  padding: 0;
}
