.profile {
  display: grid;
  grid-template-columns: repeat(2, max-content) auto;
  align-items: center;
  column-gap: 30px;
  max-width: calc((880vw / 1280) * 100);
  width: calc((880vw / 1280) * 100);
}
