.header {
  display: flex;
  flex-direction: column;
  row-gap: 41px;
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 45px;
}

@media screen and (max-width: 768px) {
  .header {
    padding-top: 28px;
  }
}
