.popup__name {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 22px;
  padding-bottom: 8px;
  padding-top: 8px;
  font-size: 14px;
  line-height: calc(17 / 14);
  outline-color: dodgerblue;
}

@media screen and (max-width: 768px) {
  .popup__name {
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}
